
body{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(img4.jpg);
	height: 100vh;
	background-size: cover;
	background-position: centerr;
 }

 .login-page{
	width: 360px;
	padding: 10% 0 0;
	margin: auto;
 }  
  
 .form{
	position: center;
	z-index: 10;
	background: rgba(7,25,190,0.5);
	max-width: 250px;
	margin: 120 auto 100px;
	padding: 15px;
	text-align: center;
  


}

 .form input{
	font-family: "Roboto", sans-serif;
	outline: 1;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

 .form button{
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: rgb(224, 167, 10);
	width: 90%
	border 0; 
	padding: 14px;
	color: #000000
	font-size  12px;
	cursor: pointer;
 }

 .form button:hover
 .form button:active{
	background: #43A047;
}

 .form .message{
	margin: 20px 10px 10px;
	color: aliceblue;
	font-size: 12px;

 }

 .form .message a{
	color: #4CAF50;
	text-decoration: none;
 }

  .register-form {
 
	display: none;

}